name: "Generate HTML and PDF"
on:
  push:
    branches:
      - master
    paths:
      - flake.*
      - willow_bumble_foh_cv.md
      - style.css
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build willow_bumble_foh_cvs
      run: |
        mkdir out
        nix build
        cp result/willow_bumble_foh_cv/willow_bumble_foh_cv.html out/willow_bumble_foh_cv.html
        cp result/willow_bumble_foh_cv/willow_bumble_foh_cv.pdf out/willow_bumble_foh_cv.pdf
        cp result/willow_bumble_foh_cv/willow_bumble_foh_cv.md out/willow_bumble_foh_cv.md
    - name: Store Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: willow_bumble_foh_cv
        path: out/
  publish:
    runs-on: ubuntu-latest
    needs: generate
    steps:
    - uses: actions/checkout@v4
    - name: Retrieve Artifacts
      uses: actions/download-artifact@v4
      with:
        name: willow_bumble_foh_cv
        path: out/
    - name: Install GitHub CLI
      run: |
        sudo apt-get update
        sudo apt-get install -y hub
    - name: Stage
      run: |
        mkdir public
        cp out/willow_bumble_foh_cv.html public/index.html
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
    - name: Set Tag
      id: current-datetime
      run: echo "CURRENT_DATETIME=$(date +'%Y-%m-%d-%H_%M_%S%z')" >> "$GITHUB_OUTPUT"
    - name: Build Release
      shell: bash
      run: |
        hub release create ${{ steps.current-datetime.outputs.CURRENT_DATETIME }} \
        -m ${{ steps.current-datetime.outputs.CURRENT_DATETIME }} \
        -a out/willow_bumble_foh_cv.html \
        -a out/willow_bumble_foh_cv.md \
        -a out/willow_bumble_foh_cv.pdf
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}